<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gary.spiders">

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher1"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".game.JigsawPuzzleGame" />
        <activity android:name=".game.PlayStopVideoGame" />
        <activity android:name=".game.FocusImageGame" />
        <activity android:name=".game.SharpenTextGame" />
        <activity android:name=".game.ImagePickerGame" />
        <activity android:name=".game.PopupImageGame" />
        <activity android:name=".game.WordSearchGame" />
        <activity android:name=".game.ZoomTextGame" />
        <activity android:name=".activity.ChooseGameActivity" />
        <activity android:name=".activity.MetricsActivity" />
        <activity android:name=".activity.QuestionnaireActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.UpdateAvatarActivity" />
        <activity android:name=".util.ReminderScreen" />
        <activity android:name=".activity.UpdateUsernameActivity" />
        <activity android:name=".activity.UpdateLevelActivity" />

        <receiver android:name=".util.NotificationPublisher" />

        <activity android:name=".activity.FearRatingActivity" />
        <activity android:name=".game.UnscrambleGame"></activity>
    </application>

</manifest>